/* Welcome */

.welcome-card {
  background: linear-gradient(135deg, #A78BFA, #C4B5FD);
  color: white;
  padding: 22px;
  border-radius: 18px;
  margin-bottom: 32px;
}

/* Each widget row */

.widget-flex-row {
  display: flex;
  gap: 24px;          /* gap between widgets */
  margin-bottom: 32px;  /* 🔥 GAP BETWEEN ROWS */
}

/* Make widgets equal width */

.widget-flex-row app-widget-card {
  flex: 1;
}
