<div class="auth-page">

  <div class="auth-card">

    <h2>Forgot Password 🔐</h2>

    <p class="subtext">
      Enter your email to receive a reset link.
    </p>

    <!-- Email Field -->
    <div class="field">

      <input
        placeholder="Email Address *"
        [(ngModel)]="email"
        type="email"
      />

    </div>

    <!-- Submit -->
    <button (click)="sendReset()">
      Send Reset Link
    </button>

    <!-- Message -->
    <small
      class="success"
      *ngIf="message"
    >
      {{ message }}
    </small>

    <!-- Back -->
    <small>
      Remember password?
      <a routerLink="/login">
        Login
      </a>
    </small>

  </div>

</div>